extends layout

block content
  div.container
    each article in articles
      article.article.intro
        header.post-header
          p(data-date-full=moment.utc(article.date).format('dddd, D MMMM YYYY'), data-date-medium=moment.utc(article.date).format('D MMMM YYYY')).date
            span= moment.utc(article.date).format('D MMM YY')
          h2.post-title
            a(href=h.url(article.url))= article.title
        section.content
          !{ typogr(article.html).typogrify() }

block prepend contentfooter
  nav.next-previous
    if prevPage
      a(href=h.url(prevPage.url)) Newer
    if nextPage
      a(href=h.url(nextPage.url)) Older



